{% extends 'index/base.html' %}
{% block CONTENT %}
<div class="maincontent card">
  {{ owner }}
  <form action="/new" method="post" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
      <div class="owner">
        Owner
        {{ form.owner }}
      </div>
      /
      <div class="form-charfield">
        {{ form.name }}
      </div>
    </div>
    <div>
      {{ form.description.label }}<br>
      {{ form.description }}
    </div>
    <div class="row">
      <div class="repovisibility">
        {{ form.visibility.label }}
        {{ form.visibility }}
      </div>
      <input type="submit" class="btn-submit" value="New">
    </div>
  </form>
</div>
{% endblock %}
