{% extends 'index/base.html' %}
{% load markdown %}
{% block STYLE %}
<style>
div.maincontent > div.card:first-child {
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: calc(2*var(--padding));
}

div.maincontent > div.card:first-child > h3 {
  flex-grow: 1;
}

div.maincontent > div.tabs {
  display: flex;
  flex-direction: row;
  gap: var(--padding);
  padding: 0;
}

div.maincontent > div.tabs > a.btn {
  background-color: var(--color-tertiary);
  color: var(--color-fg);
  font-weight: 400;
  margin:0;
  border: none;
  transition: ease 0.25s;
}

div.maincontent > div.tabs > a.active-tab {
  background-color: var(--color-primary);
}

div.maincontent > div.tabs > a.btn:hover {
  background-color: var(--color-second);
  transition: ease 0.25s;
}

div.maincontent > div.tabs > details.revision {
  background-color: var(--color-quaternary);
  order:2;
  margin: 0;
  margin-left: auto;
}

div.maincontent > div.card > div.filelist {
  display:flex;
  flex-direction: column;
  /*align-items: center;*/
  gap: var(--padding);
}

div.maincontent > div.card > div.filelist > div {
  display:flex;
  flex-direction: row;
  gap: var(--padding);
  align-items:center;
}

div.maincontent > div.card > div.filelist > div > i {
  width: 2pc;
  text-align:right;
}

div.maincontent > div.card > div.filelist > div > span.filename {
  flex-grow:1;
}

.list {
  display: flex;
  flex-direction: column;
  gap:var(--padding);
}

.list > * {}

.readme > table {
  border: var(--border);
  border-spacing: 0;
  width: 100%;
}

.readme > table tr:nth-child(odd) {
  background-color:var(--color-quinary);
}

.readme > table > thead > tr {
  background-color:unset !important;
}

.readme > table th {
  padding:var(--padding);
}
</style>
{% endblock %}
{% block CONTENT %}
<div class="maincontent">
<div class="card">
  <h3><i class="fa-solid fa-book-bookmark"></i> <a href="{{ repository.owner.get_absolute_url }}">{{ repository.owner }}</a>/<a href="{{ repository.get_absolute_url }}">{{ repository.name }}</a></h3>
  <span class="star"><i class="fas fa-star"></i>{{ repository.stars|length }}</span>
  <span class="watch"><i class="fas fa-eye"></i>{{ repository.watchers|length }}</span>
  <span class="forks"><i class="fas fa-code-branch"></i>{{ repository.forks|length }}</span>
  <span class="visibility">{{ repository.visibility_str }}</span>
</div>
<div class="tabs">
  <a class="btn card{% if active == 'code' %} active-tab{% endif %}" href="{{ repository.get_absolute_url }}">Code</a>
  <a class="btn card{% if active == 'issues' %} active-tab{% endif %}" href="{% url 'gitolite:issue_list' repository.owner repository.name %}">Issues</a>
  <a class="btn card{% if active == 'pulls' %} active-tab{% endif %}" href="">Pull requests</a>
  <a class="btn card{% if active == 'releases' %} active-tab{% endif %}" href="">Releases</a>
  <a class="btn card{% if active == 'docs' %} active-tab{% endif %}" href="">Documentation</a>
  <a class="btn card{% if active == 'anal' %} active-tab{% endif %}" href="">Analytics</a>
  <details class="btn card revision popout"><summary>Revision</summary>
    <div class="card popout_element revisioncontainer">
      Branches and tags<br>
      (placeholder)
      {% for branch in branches %}
      {{ branch }}<br>
      {% endfor %}
      {% for tag in tags %}
      {{ tag }}<br>
      {% endfor %}
    </div>
  </details>{# open branches / tags #}
</div>
{% block REPO_PAGE %}
{% if collaborators_pending|length != 0 %}                 <div class="card"><p><i class="fas fa-lock"></i> Locked content</p></div>
{% elif tree.files|length == 0 and tree.dirs|length == 0 %}<div class="card"><i>Empty repository</i></div>
{% else %}
<div class="card"><h4>Files</h4>
  <div class="filelist">
  {% for dir in tree.dirs %}
     {% if dir.path %}
        {% if dir.object.type == 'tree' %}
        <div class="directory"><i class="fas fa-folder-plus"></i><span class="filename">{{ dir.path }}</span></div>
        {% elif dir.object.type == 'blob' %}{# This is just a Tree|Blob object -- should never happen #}
        <div class="directory"><i class="fas fa-file"></i><span class="filename">{{ dir.path }}**</span></div>
        {% else %}
        <div class="directory"><i class="fas fa-folder"></i><span class="filename">{{ dir.name }}</span></div>
        {% endif %}
     {% else %}
        <div>[d] -- {{ dir.name }}</div>
     {% endif %}
  {% endfor %}
  {% for file in tree.files %}
     <div class="file"><i class="fas fa-file"></i><span class="filename">{{ file.name }}</span></div>
  {% endfor %}
  </div>
</div>

<div class="card readme">
  {% if readme %}
  <i class="fas fa-list-ul"></i> README.md
  <hr>
  {{ readme|markdown|safe }}
  {% else %}No readme yet!
  {% endif %}
</div>
{% endif %}
{% endblock %}
</div>

{% block REPO_RIGHT %}
<div class="rightcontent">
  {% if collaborators_pending|length > 0 %}
<div class="card invitation_prompt">
  <form action="{% url 'users:settings-collab' %}" method="post" class="form">{% csrf_token %}
    <h4>Invitation to collaborate</h4>
    <span>
      Permissions: {{ collaborators_pending.first.permission_str }}
    </span>
    <div class="row">
      <input name="collab_id" type="hidden" class="hidden" value="{{collaborators_pending.first.id}}"/>
      <input name="accept" type="submit" class="btn-submit" value="accept"/><input name="decline" type="submit" class="btn-delete" value="decline"/>
    </div>
  </form>
</div>
{% endif %}
<div class="card">
{% if repository.description %}
<h4>About</h4>
<p>{{ repository.description }}</p>
{% endif %}
  <div class="remote">{{ repository.get_remote_url }}</div><br>
  <div class="list">
    <span>
      <i class="fa-solid fa-cube"></i> <a href="#">Latest release</a>
    </span>
    {% if repository.owner == request.user %}
    <span>
      <i class="fa-solid fa-gear"></i> <a href="{% url 'gitolite:repo-settings' repository.owner repository.name %}">Settings</a>{% endif %}
    </span>
  </div>
</div>
{% if collaborators %}
<div class="card">
  <h4>Collaborators:</h4>
  <div class="list">
    {% for c in collaborators %}
    <span><i class="fa-solid fa-user"></i> <a href="{% url 'users:profile' c.user.username %}">{{ c.user.username }}</a></span>
    {% endfor %}
  </div>
</div>
{% endif %}
</div>
{% endblock %}
{% endblock %}
