{% extends 'index/base.html' %}
{% block TITLE %}Settings for {{repository}}{% endblock %}
{% block CONTENT %}
<div class="leftcontent card">
  <a href="{{ repository.get_absolute_url }}"><i class="fa-solid fa-circle-chevron-left"></i> {{repository}}</a>
  <h3>Settings</h3>
  <div class="list">
    <a href="{% url 'gitolite:repo-settings' repository.owner repository.name %}"><i class="fa-solid fa-gear"></i> General</a>
    <a href="{% url 'gitolite:repo-settings-collabs' repository.owner repository.name %}"><i class="fa-solid fa-user-group"></i> Collaborators</a>
    <a href="{% url 'gitolite:repo-settings-branches' repository.owner repository.name %}"><i class="fa-solid fa-code-branch"></i> Branches</a>
    <a href="{% url 'gitolite:repo-settings-branches' repository.owner repository.name %}"><i class="fa-solid fa-circle-dot"></i> Issues</a>
    <a href="{% url 'gitolite:repo-settings-branches' repository.owner repository.name %}"><i class="fa-solid fa-code-pull-request"></i> Pull requests</a>
    <a href="{% url 'gitolite:repo-settings-documentation' repository.owner repository.name %}"><i class="fa-solid fa-book"></i> Documentation</a>
    <a href="{% url 'gitolite:repo-settings-releases' repository.owner repository.name %}"><i class="fa-solid fa-cube"></i> Releases</a>
    <a href="{% url 'gitolite:repo-settings-branches' repository.owner repository.name %}"><i class="fa-solid fa-chart-line"></i> Analytics</a>
    <a href="{% url 'gitolite:repo-settings-issues_and_prs' repository.owner repository.name %}"><i class="fa-solid fa-bacon"></i> Miscellaneous</a>
  </div>
</div>
<div class="maincontent">
  {% block SETTINGS %}
  <div class="card">
  <h2>Repository settings for {{ repository }}</h2>
    collaborators: invite, remove, change permissions<br>

    branches: read/write protection and such<br>

    who can create issues &amp; PR
  <hr>

  <form method="post" class="form">{% csrf_token %}
    <div class="row">
      {{ form.name.label }}
      <div class="form-charfield">
        {{ form.name }}
      </div>
      {{ form.visibility.label }}
        {{ form.visibility }}
      <input class="btn-submit" type="submit" value="Save">
    </div>
    <div class="row">
      {{ form.default_branch.label }}
      <div class="form-charfield">
        {{ form.default_branch }}
      </div>
    </div>
      {{ form.description.label }}
      {{ form.description }}
  </form>
  </div>
  {% endblock %}
</div>
{% endblock %}
