{% extends 'index/base.html' %}
{% block STYLE %}
<style>
.visibility {
  font-size: 9pt;
  font-weight: 100;
  color: var(--white);
  float:right;
  padding: var(--padding);
  border: var(--border-sz) solid var(--white);
  border-radius: var(--padding);
}
.remote {
  font-family: Courier New;
  background-color: var(--green-light);
  color: var(--color-bg);
  border: var(--border-sz) solid var(--green);
  border-radius: var(--padding);
  padding: var(--padding);
  font-size: 9pt;
}
</style>
{% endblock %}
{% block CONTENT %}
<div class="maincontent">
  <div class="card">

    <h3>{{ repository.name }}<span class="visibility">{{ repository.visibility_str }}</span></h3>

    {% if tree.files|length > 0 or tree.dirs|length > 0 %}
    <hr>
    Files
    <ul>
      {% for dir in tree.dirs %}
      {% if dir.path %}
        {% if dir.object.type == 'tree' %}
        <li>[d] {{ dir.path }}
        {% elif dir.object.type == 'blob' %}
        <li>[f] {{ dir.path }}
        {% else %}{# This is just a Tree|Blob object #}
        <li>[d] {{ dir.name }}
        {% endif %}
      {% else %}
        <li>[d] -- {{ dir.name }}
      {% endif %}
      </li>
      {% endfor %}
      {% for file in tree.files %}
      <li>[f] {{ file.name }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="card">
  {% if readme %}
  <hr>
  [...] README.md<br>
  {{ readme|safe }}
  {% else %}
  No readme yet!
  {% endif %}
  </div>
</div>
<div class="rightcontent card">
{% if repository.description %}
<h4>About</h4>
<p>{{ repository.description }}</p>
{% endif %}
  <div class="remote">{{ repository.get_remote_url }}</div><br>
  {% if repository.owner == request.user %}
  <a href="{% url 'gitolite:repo-settings' repository.owner repository.name %}">Settings</a>
  {% endif %}
  {% if collaborators %}
  <h4>Collaborators:</h4>
  <ul>
    <li><a href="{% url 'users:profile' repository.owner %}">{{ repository.owner.username }}</a> (owner)</li>
    {% for c in collaborators %}
    <li><a href="{% url 'users:profile' c.user.username %}">{{ c.user.username }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
