{% extends 'gitolite/repository_edit.html' %}
{% block TITLE %}Change how documentation is stored{% endblock %}
{% block STYLE %}
<style>
.radio {
  display:flex;
  flex-direction:column;
  gap:var(--padding);
}
.radio > label {
  display:flex;
  flex-direction:row;
  gap:var(--padding);
}
</style>
{% endblock %}
{% block SETTINGS %}
<div class="card">
  <h2>Documentation settings</h2>
  <form method="post" class="form">{% csrf_token %}
  {{ form.release_generation.label }}
  <div class="radio">
  {% for f in form.release_generation %}
  {{ f }}
  {% endfor %}
  </div>
  {{ form.release_pattern }}
  <!--
  <div class="radio">
  <label for="id_release_generation_0"><input type="radio" name="release_generation" value="0" id="id_release_generation_0" required="" checked="">Disabled</label>
  <label for="id_release_generation_1"><input type="radio" name="release_generation" value="1" id="id_release_generation_1" required="">Manual</label>
  <label for="id_release_generation_2"><input type="radio" name="release_generation" value="2" id="id_release_generation_2" required="">Automatic{{ form.release_pattern }}</label>
  </div>
  -->
  <input class="btn-submit" type="submit" value="Save">
  </form>
</div>
{% endblock %}
