{% extends 'gitolite/repository_edit.html' %}
{% block TITLE %}Change how releases are created{% endblock %}
{% block STYLE %}
<style>
.radio {
  display:flex;
  flex-direction:column;
  gap:var(--padding);
}
.radio > label {
  display:flex;
  flex-direction:row;
  gap:var(--padding);
}
</style>
{% endblock %}
{% block SETTINGS %}
<div class="card">
  <h2>Releases settings</h2>
  Choose how and when releases are generated.
  <form method="post" class="form">{% csrf_token %}
  <div class="radio">
  {% for f in form.release_generation %}
  {{ f }}
  {% endfor %}
  </div>
  {{ form.release_pattern }}
  <input class="btn-submit" type="submit" value="Save">
  </form>
</div>
{% endblock %}
