{% extends 'index/base.html' %}

{% block TITLE %}Login{% endblock %}

{% block STYLE %}
  form#login {
    width: 12pc;
    margin: 0pt auto;
    background-color: #666;
    padding: 1pc;
    border: 1pt solid #7e4798;
  }
  form#login input {
    background-color: #aaa;
    width: 100%;
    border: 0pt solid #7e4798;
    padding: 4pt;
    margin: 4pt 0;
  }
  form#login input[type="password"],
  form#login input[type="text"] {
    width: calc(100% - 10pt);
  }
  form#login input[type="submit"] {
    width: calc(100% - 2pt);
    background-color: #7e4798;
  }
{% endblock %}

{% block CONTENT %}
<form id="login" method="post">{% csrf_token %}
<input type="text"     placeholder="Username" name="username" maxlength="128" required="" id="username">
<input type="password" placeholder="Password" name="password" maxlength="128" required="" id="password">
<input type="submit" value="Login"/>
</form>
{% if error %}
<div class="error-box">{{ error }}<br/>{{ errors }}</div>
{% endif %}
{% endblock %}
