{% extends 'index/base.html' %}
{% block STYLE %}
<style>
.repo-form {
  display: flex;
  flex-flow:column;
  align-content:stretch;
  gap:var(--padding);
}
.repo-form * {
  margin:var(--padding);
}
.repo-form div textarea {
  width: calc(100% - 2 * var(--padding));
}

.repo-form div.bottomrow div select,
.repo-form div.bottomrow input[type="submit"],
.repo-form div textarea,
.repo-form div input {
  border-radius:var(--padding);
  border: none;
  padding: var(--padding);
  margin:0;
}
.repo-form div.bottomrow,
.repo-form div.bottomrow {
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:var(--padding);
}
.repo-form div.bottomrow div.reponame input,
.repo-form div.bottomrow div.reponame,
.repo-form div.bottomrow div.repovisibility {
  /*width: calc(100% - 0 * var(--padding));*/
  flex-grow:1;
}
.repo-form div.bottomrow div.reponame input[type="text"] {
  width: calc(100% - var(--padding));
}
.repo-form div.bottomrow input[type="submit"] {
  background-color: #8cc85f;
  width: 8pc;
}
.repo-form input[type="submit"] {
}
</style>
{% endblock %}
{% block CONTENT %}
<div class="maincontent">
  {{ owner }}
  <form action="/new" method="post" class="repo-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="bottomrow">
      <div class="owner">
        Owner
        <select id="id_owner" name="owner" required="">
          <option value="{{ request.user.id }}">{{ request.user.username }}</option>
          <option value="group">group placeholder</option>
          <option value="group">group placeholder</option>
        </select>
      </div>
      /
      <div class="reponame">
        {{ form.name }}
      </div>
    </div>
    <div class="repodesc">
      {{ form.description.label }}<br>
      {{ form.description }}
    </div>
    <div class="bottomrow">
      <div class="repovisibility">
        {{ form.visibility.label }}
        {{ form.visibility }}
      </div>
      <input type="submit" value="New">
    </div>
  </form>
</div>
{% endblock %}
