{% extends 'index/base.html' %}

{% block STYLE %}
<style>
ul.invitationlist {
  margin: 0;
  list-style: none;
  padding: 0;
}
</style>
{% endblock %}

{% block CONTENT %}
{% if request.user.is_authenticated %}
<div class="leftcontent card">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="{% url 'users:profile' request.user.username %}">Profile</a></li>
        <li><a href="#">Bookmarks</a></li>
      </ul>
      {% if repositories %}
      <hr>
      <h4>Top {8} repos</h4>
      <form post="/" class="form reposearch" name="reposearch"><input type="text" name="search" placeholder="Find repository"></input></form>
      <ul>
        {% for repo in repositories %}
        <li><a href="{% url 'gitolite:repo' repo.owner repo.name %}">{{ repo.owner }}/{{ repo.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
</div>
{% endif %}
<div class="maincontent">
  <div class="card">
    <h2>Features</h2>
    <ul>
      <li>Invite people to collaborate on your repositories</li>
      <li>Show readmes from repositories on their index page</li>
      <li>Repositories are private by default</li>
      <li>Gitolite backend</li>
      <li>No tacking or advertising</li>
      <li>javascript is not needed any of the features</li>
      <li>Lightweight <i>giz is just a web frontend for gitolite</i></li>
      <li>Personalized user profiles (<i>needs rework</i>)</li>
    </ul>
    <h2>Roadmap</h2>
    <ul>
      <li><b>Project management</b></li>
      <ul>
        <li>Issues<ul><li>Tags to organize said issues</li></ul></li>
        <li>Pull requests</li>
        <li>Automatically generate wikis from a repositoriys docs</li>
        <li>Per-ref permissions</li>
        <li>Code insights &amp; analytics</li>
        <li>Per repo configurable number of required reviewers for pull requests</li>
      </ul>
      <li>Organizations
        <ul>
          <li>Subdivide organization members into teams</li>
          <li>Manage per team-member permissions</li>
          <li>Manage per org-member permissions</li>
        </ul>
      </li>
      <li>Configurable notifications regarding activity</li>
      <li>All features available from CLI</li>
    </ul>
    <h2>Getting access</h2>
    Currently giz is in its early beta and is not open for registrations.<br>
    Evidently, there's still a lot more to do <tt>:^)</tt>
  </div>
</div>
{% if request.user.is_authenticated %}
<div class="rightcontent card">
  <h4>Notifications</h4>
    {% if invites %}
    <h5>Invitations to collaborate</h5>
    <ul class="invitationlist">
    {% for invite in invites %}
    <li class="card invitation_prompt">
    <form action="{% url 'users:settings-collab' %}" method="post" class="form">{% csrf_token %}
      <a href="{% url 'gitolite:repo' invite.repo.owner invite.repo.name %}">{{ invite.repo }}</a>
      <div class="row">
      <input name="collab_id" type="hidden" class="hidden" value="{{invite.id}}"/>
      <input name="accept" type="submit" class="btn-submit" value="accept"/><input name="decline" type="submit" class="btn-delete" value="decline"/>
      </div>
    </form>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endif %}
{% endblock %}
