{% extends 'index/base.html' %}

{% block STYLE %}
<style>
ul.invitationlist {
  margin: 0;
  list-style: none;
  padding: 0;
}
</style>
{% endblock %}

{% block CONTENT %}
{% if request.user.is_authenticated %}
<div class="leftcontent card">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="{% url 'users:profile' request.user.username %}">Profile</a></li>
        <li><a href="#">Bookmarks</a></li>
      </ul>
      {% if repositories %}
      <hr>
      <h4>Top {{ repositories|length }} repos</h4>
      <form post="/" class="form reposearch" name="reposearch"><input type="text" name="search" placeholder="Find repository"></input></form>
      <ul>
        {% for repo in repositories %}
        <li><a href="{{ repo.get_absolute_url }}">{{ repo }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
</div>
{% endif %}
<div class="maincontent">
  <div class="card">
    {# TODO.md #}

<h2>Features</h2>
<ul>
<li><input type="checkbox" checked="" disabled="" /> Invite people to collaborate on your repositories</li>
<li><input type="checkbox" checked="" disabled="" /> Show readmes from repositories on their index page</li>
<li><input type="checkbox" checked="" disabled="" /> Repositories are private by default</li>
<li><input type="checkbox" checked="" disabled="" /> Gitolite backend</li>
<li><input type="checkbox" checked="" disabled="" /> No tacking or advertising</li>
<li><input type="checkbox" checked="" disabled="" /> javascript is not needed any of the features</li>
<li><input type="checkbox" checked="" disabled="" /> Lightweight <em>giz is just a web front-end for gitolite</em></li>
<li><input type="checkbox" checked="" disabled="" /> Personalized user profiles (<em>needs rework</em>)</li>
</ul>
<h2>Road map</h2>
<ul>
<li><strong>Project management</strong>
<ol>
<li><input type="checkbox" disabled="" /> Issues
<ul>
<li><input type="checkbox" disabled="" /> Comments</li>
<li><input type="checkbox" disabled="" /> Status</li>
<li><input type="checkbox" disabled="" /> Tags to organize said issues</li>
</ul>
</li>
<li><input type="checkbox" disabled="" /> Pull requests
<ul>
<li><input type="checkbox" disabled="" /> Comments</li>
<li><input type="checkbox" disabled="" /> Status</li>
</ul>
</li>
<li><input type="checkbox" disabled="" /> Per-ref permissions</li>
<li><input type="checkbox" disabled="" /> Automatically generate wikis from a repositories docs</li>
<li><input type="checkbox" disabled="" /> Code insights &amp; analytics</li>
<li><input type="checkbox" disabled="" /> Per repo configurable number of required reviewers for pull requests</li>
</ol>
</li>
<li><input type="checkbox" disabled="" /> <strong>Organizations</strong>
<ul>
<li><input type="checkbox" disabled="" /> Subdivide organization members into teams</li>
<li><input type="checkbox" disabled="" /> Manage per team-member permissions</li>
<li><input type="checkbox" disabled="" /> Manage per org-member permissions</li>
</ul>
</li>
<li><input type="checkbox" disabled="" /> <strong>Configurable notifications regarding activity</strong></li>
<li><input type="checkbox" disabled="" /> <strong>All features available from CLI</strong></li>
</ul>

    {# //TODO.md #}
    <h2>Getting access</h2>
    Currently giz is in its early beta and is not open for registrations.<br>
    Evidently, there's still a lot more to do <tt>:^)</tt>
  </div>
</div>
{% if request.user.is_authenticated %}
<div class="rightcontent card">
  <h4>Notifications</h4>
    {% if invites %}
    <h5>Invitations to collaborate</h5>
    <ul class="invitationlist">
    {% for invite in invites %}
    <li class="card invitation_prompt">
    <form action="{% url 'users:settings-collab' %}" method="post" class="form">{% csrf_token %}
      <a href="{{ invite.repo.get_absolute_url }}">{{ invite.repo }}</a>
      <div class="row">
      <input name="collab_id" type="hidden" class="hidden" value="{{invite.id}}"/>
      <input name="accept" type="submit" class="btn-submit" value="accept"/><input name="decline" type="submit" class="btn-delete" value="decline"/>
      </div>
    </form>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endif %}
{% endblock %}
