{% extends 'index/base.html' %}

{% block STYLE %}
<style>
.error-box {
  background-color: var(--red);
  border: none;
  color: var(--color-bg);
}
.error-box ul {
  padding-left: 2em;
}
.error-box ul li {
  list-style-type: circle;
}
.contentcontainer {
  align-items: center;
  height: 90vh;
  max-width: 24pc;
}
</style>
{% endblock %}

{% block TITLE %}Sign up{% endblock %}

{% block CONTENT %}
<div class="maincontent">
{% if form.errors %}
<div class="card error-box">
  <h3>{{ error }}</h3>

  <ul>
  {% for field in form %}
    {% for error in field.errors %}
    <li>{{ field.label }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
    {% for error in field.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<form class="form card" id="signup" method="post">{% csrf_token %}
  <h3>Sign up for giz</h3>
  <div class="row">
    <div class="form-charfield">
      <input type="text"     placeholder="Username" name="username" maxlength="128" required="" id="id_username">
  </div>
  <input type="submit" class="btn-submit" value="Signup"/>
  </div>
<input type="password" placeholder="Password"        name="password1"     maxlength="128" required="" id="id_password1">
<input type="password" placeholder="Repeat password" name="password2"     maxlength="128" required="" id="id_password2">
<input type="text"     placeholder="Invitation"      name="invitationkey" maxlength="128" required="" id="id_invitationkey">
</form>
</div>
{% endblock %}
