{% extends 'index/base.html' %}

{% block CONTENT %}
<div class="leftcontent card">
  <h3>Settings</h3>
  <ul>
    <li><a href="{% url 'users:settings' %}">Preferences</a></li>
    <li><a href="{% url 'users:settings-keys' %}">keys</a></li>
    <li><a href="{% url 'users:settings-invitations' %}">invitations</a></li>
  </ul>
</div>

<div class="maincontent">
  {% block SETTINGS %}
  <div class="card">
  <h2>Profile settings for {{ user }}</h2>
  <hr>
  <form method="post" class="form">{% csrf_token %}
    <div class="row">
      {{ form.username.label }}
      <div class="form-charfield">
        {{ form.username }}
      </div>
    </div>
    <div class="row">
      {{ form.name.label }}
      <div class="form-charfield">
        {{ form.name }}
      </div>
      <input class="btn-submit" type="submit" value="Save">
    </div>
    <div class="row">
      {{ form.email.label }}
      <div class="form-charfield">
        {{ form.email }}
      </div>
    </div>
    <div>
      {{ form.bio.label }}
      {{ form.bio }}
    </div>
  </form>
  {% endblock %}
</div>
</div>
{% endblock %}
