{% extends 'users/user_form.html' %}

{% block TITLE %}Your referrals{% endblock %}

{% block STYLE %}
<style>
.key_used {
  color: var(--white);
}
.key {
  color: var(--purple);
}
.notinuse {
  color: var(--black-light);
}
ul.referrals {
  text-decoration: none;
}
</style>
{% endblock %}

{% block SETTINGS %}
<div class="card">
  <h2>Invitations for {{ user }}</h2>
  {% if referer %}
  <p>Referred by <a href="{% url 'users:profile' referer.referer.username %}">{{ referer.referer.username }}</a> ({{ referer.key }})</p>
  {% else %}
  <p>OG user</p>
  {% endif %}

  {% if invitations|length > 0 %}
  <ul class="referrals">
    {% for invite in invitations %}
    {% if invite.used %}
    <li><tt class="key_used">{{ invite.key }}</tt> used by <a href="{% url 'users:profile' invite.user.username %}">{{ invite.user.username }}</a></li>
    {% else %}
    <li><tt class="key">{{ invite.key }}</tt> <i class="notinuse">not in use</i></li>
    {% endif %}
    {% endfor %}
  </ul>
  {% else %}
  No invitations to give out!
  {% endif %}
</div>
{% endblock %}
