{% extends 'index/base.html' %}
{% block STYLE %}
<style>
</style>
{% endblock %}

{% block CONTENT %}

<div class="maincontent">
  <h2>Settings for {{ user }}</h2>
  {% if not keys.count > 0 %}
  <p>You have not added any public keys yet!</p>
  {% else %}
  <ul>
  {% for k in keys %}
  <li>{{ k.name }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  <form action="{% url 'users:addkey' user %}" method="post" class="repo-form">{% csrf_token %}
    <label for="public">Paste your <b>public</b> key here</label><br>
    {{ form_rsa.public }}<br>
    <label for="name">SSH Key name</label><br>
    {{ form_rsa.name }}<br>
  <input type="submit" value="Add">
  <form>
</div>
{% endblock %}
