{% extends 'index/base.html' %}

{% block TITLE %}Login{% endblock %}

{% block STYLE %}
<style>
/*
  form#login {
    width: 12pc;
    margin: 0pt auto;
    background-color: #666;
    padding: 1pc;
    border: 1pt solid #7e4798;
  }
  form#login input {
    background-color: #aaa;
    width: 100%;
    border: 0pt solid #7e4798;
    padding: 4pt;
    margin: 4pt 0;
  }
  form#login input[type="password"],
  form#login input[type="text"] {
    width: calc(100% - 10pt);
  }
  form#login input[type="submit"] {
    width: calc(100% - 2pt);
    background-color: #7e4798;
  }
  form label {
    background-color: #444;
    border-right: none;
    margin-right: 0;
    margin-bottom: 0.5em;
    vertical-align:top;
    width: 0.75em;
  }*/
</style>
{% endblock %}

{% block CONTENT %}
<div>
{% if form.errors %}
<div class="card error-box">
  <h3>{{ error }}</h3>

  <ul>
  {% for field in form %}
    {% for error in field.errors %}
    <li>{{ field.label }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
    {% for error in field.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<form class="form card" id="login" method="post">{% csrf_token %}
  <h3>Sign in to tonic</h3>
<input type="text"     placeholder="Username" name="username" maxlength="128" required="" id="username">
<input type="password" placeholder="Password" name="password" maxlength="128" required="" id="password">
<input name="login" type="submit" value="Login"/>
</form>
</div>
{% endblock %}
