{% extends 'index/base.html' %}

{% block TITLE %}Login{% endblock %}

{% block STYLE %}
<style>
.error-box {
  background-color: var(--red);
  border: none;
  color: var(--color-bg);
}
.error-box ul {
  padding-left: 2em;
}
.error-box ul li {
  list-style-type: circle;
}
.contentcontainer {
  align-items: center;
  height: 90vh;
  max-width: 24pc;
}
</style>
{% endblock %}

{% block CONTENT %}
<div class="maincontent">
{% if form.errors %}
<div class="card error-box">
  <h3>{{ error }}</h3>

  <ul>
  {% for field in form %}
    {% for error in field.errors %}
    <li>{{ field.label }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
    {% for error in field.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<form class="form card" id="login" method="post">{% csrf_token %}
  <h3>Sign in to tonic</h3>
<input type="text"     placeholder="Username" name="username" maxlength="128" required="" id="username">
<input type="password" placeholder="Password" name="password" maxlength="128" required="" id="password">
<input name="login" type="submit" value="Login"/>
</form>
</div>
{% endblock %}
