{% extends 'index/base.html' %}

{% block TITLE %}{{ user.username }}'s profile{% endblock %}

{% block STYLE %}
<style>
.profilepic-big {
  width: 100%;
  height: auto;
  background-color: #ccc;
  display: block;
}
.summary {
  color: #1a1a1a;
  font-family: "Arial Black", Gadget, sans-serif;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2pt;
  grid-auto-rows: minmax(12pc, auto);
}
.sidepanel {
  grid-column: 1;
  grid-row: 1 / 5;
}
.profile-content {
  grid-column: 2 / 5;
  grid-row: 1 / 5;
}
.sidepanel h2,
.sidepanel div.summary {
  padding-left: 1pc;
}
span.repository h3 {
  margin-top: 0;
  display: inline-block;
}
span.repository span.price {
  float: right;
  color: #030;
}
span.repository {
  background-color: #fff;
  width: calc(50% - 32pt);
  display: inline-block;
  margin: 2pt;
  border: 1px solid #ccc;
  padding: 1pc;
  box-shadow: 0px 0px 4pt #0004;
}
hr {
  color: #fff;
}
span.repository hr {
  margin-top: -4pt;
}
span.repository h3 a {
  font-style: normal;
  text-decoration: none;
  color: #009;
}
/* Tabs */
.tabs {
  list-style: none;
  position: relative;
  padding: 0;
}
.tabs li {
    float: left;
    display: block;
  }
.tabs input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }
.tabs label {
    display: block;
    padding: 0.5pc 2pc;
    border-radius: 2pt 2pt 0 0;
    cursor: pointer;
    position: relative;
    margin-bottom: 6pt;
    top: 0;
    border-bottom: 2pt solid #dadada;
  }
.tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
  }
.tabs [id^="tab"]:checked + label {
    top: 0;
    padding-top: 0.2pc;
    padding-bottom: 0.8pc;
    border-bottom: 2pt solid #00c9ffff;
  }
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
</style>
{% endblock %}
{% block CONTENT %}
{% if error %}
<div class="error-box">{{ error }}<br/>{{ errors }}</div>
{% endif %}
<div class="wrapper">
  <div class="sidepanel">
      <img width="400" height="400" src="" alt="profile-picture" class="profilepic-big"/>
      <h2>{{ user.username }}</h2>
      <div class="summary">{{ user.summary }}</div>
      <hr/>
      contact stuff<br>
      teams
  </div>
  <div class="profile-content">
    <ul class="tabs" role="tablist">
      <li>
        <input type="radio" name="tabs" id="tab0" checked />
        <label
          for="tab0"
          role="tab"
          aria-selected="true"
          aria-controls="panel0">Store <i class="fas fa-money-bill-wave"></i></label>
        <div id="tab-content0"
             class="tab-content"
             role="tabpanel"
             aria-labelledby="store"
             aria-hidden="false">
          <span class="repository">
            <h3>crawl3r</h3>
            <span class="price">4.85 BTC</span><hr>
            <div class="summary">/summary</div>
          </span>
          <span class="repository">
            <h3>haxt0olz</h3>
            <span class="price">4.85 BTC</span><hr>
            <div class="summary">g0od 4 hax</div>
          </span>
          <span class="repository">
            <h3>qulelib</h3>
            <span class="price">4.85 BTC</span><hr>
            <div class="summary">lorem ipsum dolor something womesthine</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <span class="price">4.85 BTC</span><hr>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <span class="price">4.85 BTC</span><hr>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" id="tab1"/>
        <label
          for="tab1"
          role="tab"
          aria-selected="false"
          aria-controls="panel1">Projects <i class="fas fa-project-diagram"></i></label>
        <div id="tab-content1"
             class="tab-content"
             role="tabpanel"
             aria-labelledby="projects"
             aria-hidden="true">
          <span class="repository">
            <h3>someproject0</h3>
            <div class="summary">/summary</div>
          </span>
          <span class="repository">
            <h3>haxtoolz</h3>
            <div class="summary">g0od 4 hax</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>someproject0</h3>
            <div class="summary">/summary</div>
          </span>
          <span class="repository">
            <h3>haxtoolz</h3>
            <div class="summary">g0od 4 hax</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>someproject0</h3>
            <div class="summary">/summary</div>
          </span>
          <span class="repository">
            <h3>haxtoolz</h3>
            <div class="summary">g0od 4 hax</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>someproject0</h3>
            <div class="summary">/summary</div>
          </span>
          <span class="repository">
            <h3>haxtoolz</h3>
            <div class="summary">g0od 4 hax</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>someproject0</h3>
            <div class="summary">/summary</div>
          </span>
          <span class="repository">
            <h3>haxtoolz</h3>
            <div class="summary">g0od 4 hax</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3>someproject0</h3>
            <div class="summary">/summary</div>
          </span>
          <span class="repository">
            <h3>haxtoolz</h3>
            <div class="summary">g0od 4 hax</div>
          </span>
          <span class="repository">
            <h3>opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" id="tab2"/>
        <label
          for="tab2"
          role="tab"
          aria-selected="false"
          aria-controls="panel2">Starred <i class="fas fa-star"></i></label>
        <div id="tab-content2"
             class="tab-content"
             role="tabpanel"
             aria-labelledby="projects"
             aria-hidden="true">
          <span class="repository">
            <h3><a href="#">test3</a>/someproject0</h3>
            <div class="summary">/summary</div>
          </span>
          <span class="repository">
            <h3><a href="#">1337</a>/opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
          <span class="repository">
            <h3><a href="#">qwerkz</a>/opensourceslib</h3>
            <div class="summary">some cool library for collaborative work and stuffs</div>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
