{% extends 'index/base.html' %}

{% block TITLE %}Sign up{% endblock %}

{% block STYLE %}
<style>
  form#signup {
    width: 12pc;
    margin: 0pt auto;
    background-color: #666;
    padding: 1pc;
    border: 1pt solid #7e4798;
  }
  form#signup input {
    background-color: #aaa;
    width: 100%;
    border: 0pt solid #7e4798;
    padding: 4pt;
    margin: 4pt 0;
  }
  form#signup input[type="password"],
  form#signup input[type="text"] {
    width: calc(100% - 10pt);
  }
  form#signup input[type="submit"] {
    width: calc(100% - 2pt);
    background-color: #7e4798;
  }
</style>
{% endblock %}

{% block CONTENT %}
<form id="signup" method="post">{% csrf_token %}
<input type="text"     placeholder="Username" name="username" maxlength="128" required="" id="id_username">
<input type="password" placeholder="Password" name="password1" maxlength="128" required="" id="id_password1">
<input type="password" placeholder="Password" name="password2" maxlength="128" required="" id="id_password2">
<input type="submit" value="Signup"/>
</form>
{% if error %}
<div class="error-box">{{ error }}<br/>{{ errors }}</div>
{% endif %}
{% endblock %}
